.Nomination {
    display: flex;
    background-color: #3f505c;
    margin: 3px 3px;
    color: white;
}

.Title {
    margin-left: 1rem;
    width: 75%;
    overflow: hidden;
    height: 1.2rem;
}

.Year {
    width: 15%;
    height: 1.2rem;
    overflow: hidden;
}

.Wrapper {
    overflow: hidden;
}

.Container {
    transition: transform 0.3s ease-out;
}

.Right {
    transform: translateX(600px);
}

.Left {
    transform: translateX(0);
}

.close {
    position: sticky;
    right: 15px;
    top: 16px;
    width: 32px;
    height: 32px;
    opacity: 0.3;
}

.close:hover {
    opacity: 1;
}
.close:before, .close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 24px;
    width: 2px;
    background-color: white;
}
.close:before {
    transform: rotate(45deg);
}
.close:after {
    transform: rotate(-45deg);
}
