.App {
  display: flex;
  justify-content: center;
}

.Nominations {
  width: 30%;
  max-width: 600px;
}

.Search {
  width: 70%;
  max-width: 900px;
}

.Loading {
  margin: auto;
}

.NoData {
  width: 410px;
  height: 288px;
  display: block;
  margin: 0 auto;
}

.NoDataContainer {
  text-align: center;
  color: #8CAFC6;
}

.Title {
  color: white;
  font-weight: bold;
  margin-left: 2rem;
  text-align: center;
}